@* 
Copyright (c) Microsoft Corporation.
Licensed under the MIT license. 
*@

@page "/groups"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<PageTitle>Groups I'm In</PageTitle>

<h1>Groups I am a member of</h1>
<br />

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Summary </h3>

    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td> Num Groups </td>
            <td> @numGroups </td>
        </tr>
    </table>
    <br />

    
    <h3>Groups</h3>
    
    <div class="page-size-chooser">
        Items per page:
        <select @bind="@pagination.ItemsPerPage">
            <option>5</option>
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
        </select>
        <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Group display name..." style="margin-left: 100px" class="search-box"/>
    </div>
    <br />
    
    <div class="grid">
        <QuickGrid Items=@filteredItems Pagination="@pagination">
            <PropertyColumn Property="@(group => group.Id)" Sortable="true" Title="ID" />
            <PropertyColumn Property="@(group => getDisplayName(group))" Sortable="true" Title="Display Name" Class="group-name"/>
            <PropertyColumn Property="@(group => getGroupType(group))" Sortable="true" Title="Group Type"/>
            <PropertyColumn Property="@(group => getGroupUrl(group))" Sortable="true" Title="Azure Portal URL"/>
        </QuickGrid>
    </div>

    <Paginator Value="@pagination" />

}

@code {
    User? user;
    List<string>? groups = new List<string>();
    List<Group>? groupProperties = new List<Group>();
    int numGroups = 0;

    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    string nameFilter = string.Empty;
    IQueryable<Group>? filteredItems => groupProperties.AsQueryable()?.Where(x => x.DisplayName.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));

    private string getGroupUrl(DirectoryObject group)
    {
        return "https://portal.azure.com/#view/Microsoft_AAD_IAM/GroupDetailsMenuBlade/~/Overview/groupId/" + group.Id;
    }

    private string getDisplayName(DirectoryObject obj)
    {
        Group group = (Group)obj;
        return group.DisplayName;
    }

    private string getGroupType(DirectoryObject obj)
    {
        var group = (Group)obj;

        if (group.GroupTypes != null && group.GroupTypes.Contains("Unified"))
        {
            return "M365";
        } 
        else if (group.MailEnabled == null || group.MailEnabled == false)
        {
            return "Security Group";
        }
        else if (group.SecurityEnabled == null || group.SecurityEnabled == false)
        {
            return "Distribution Group";
        }
        else
        {
            return "Invalid group type";
        }
    }

    private void HandleGroupsAsDirectoryObjects(IEnumerable<DirectoryObject> groupsResponse)
    {
        var groups = (List<DirectoryObject>)groupsResponse;
        foreach(var item in groups)
        {
            if (item.ODataType == "#microsoft.graph.group")
            {
                var group = (Group)item;
                groupProperties.Add(group);
            }
        }
        numGroups = groupProperties.Count;
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();

            var queryOptions = new List<QueryOption>()
            {
	            new QueryOption("$count", "true")
            };

            var groupsResult = await GraphServiceClient.Me.TransitiveMemberOf
                        .Request( queryOptions )
                        .Header("ConsistencyLevel","eventual")
                        .Select("displayName,id,groupTypes")
                        .OrderBy("displayName")
                        .GetAsync();

            HandleGroupsAsDirectoryObjects(groupsResult.CurrentPage);
            while(groupsResult.NextPageRequest != null)
            {
                groupsResult = await groupsResult.NextPageRequest.GetAsync();
                HandleGroupsAsDirectoryObjects(groupsResult.CurrentPage);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
