@* 
Copyright (c) Microsoft Corporation.
Licensed under the MIT license. 
*@

@page "/ownerofgroups"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Text.Json
@using System.Timers
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<PageTitle>Groups I Own</PageTitle>

<h1>Groups I Own </h1>
<br />

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Summary </h3>
    <table class="table">
        <FluentDataGridRow TItem="string" RowType="DataGridRowType.StickyHeader" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1" CellType="DataGridCellType.ColumnHeader">Property</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2" CellType="DataGridCellType.ColumnHeader">Value</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Num Groups</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@numGroups</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">User query input value</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@nameFilter</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Filter query (i.e. string passed to request as filter params)</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@filterQuery</FluentDataGridCell>
        </FluentDataGridRow>
    </table>
    <br />

    <h3>Groups</h3>

    <div class="search">
        <input type="search" @bind="@nameFilter" @bind:event="oninput" @onkeyup="@HandleKeyUp" placeholder="Group display name..." class="search-box"/>
    </div>

    <table class="table">
        <FluentDataGridRow TItem="string" RowType="DataGridRowType.StickyHeader" style="grid-template-columns: 40% 30% 30%;">
            <FluentDataGridCell GridColumn="1" CellType="DataGridCellType.ColumnHeader">ID</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2" CellType="DataGridCellType.ColumnHeader">Display Name</FluentDataGridCell>
            <FluentDataGridCell GridColumn="3" CellType="DataGridCellType.ColumnHeader">Group Type</FluentDataGridCell>
        </FluentDataGridRow>
        <Virtualize Context="group" ItemsProvider="@LoadGroups" @ref="@virtualizedTable">
            <FluentDataGridRow TItem="Group" style="grid-template-columns: 40% 30% 30%;">
                <FluentDataGridCell GridColumn="1"><a href=@getGroupUrl(group) target="_blank">@group.Id</a></FluentDataGridCell>
                <FluentDataGridCell GridColumn="2">@getDisplayName(group)</FluentDataGridCell>
                <FluentDataGridCell GridColumn="3">@getGroupType(group)</FluentDataGridCell>
            </FluentDataGridRow>
        </Virtualize>
    </table>
}

@code {
    User? user;
    List<string>? groups = new List<string>();
    List<Group>? groupProperties = new List<Group>();
    int numGroups;
    Virtualize<Group> virtualizedTable;

    private System.Timers.Timer aTimer;
    IUserOwnedObjectsCollectionWithReferencesPage? groupsResult = null;    
    public EventCallback<ChangeEventArgs> OnInput;

    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    string nameFilter = string.Empty;
    string filterQuery => "$search=\"displayName:" + nameFilter + "\"";

    private string getGroupUrl(DirectoryObject group)
    {
        return "https://ms.portal.azure.com/#view/Microsoft_AAD_IAM/GroupDetailsMenuBlade/~/Overview/groupId/" + group.Id;
    }

    private string getDisplayName(DirectoryObject obj)
    {
        Group group = (Group)obj;
        return group.DisplayName;
    }

    private string getGroupType(DirectoryObject obj)
    {
        var group = (Group)obj;

        if (group.GroupTypes != null && group.GroupTypes.Contains("Unified"))
        {
            return "M365";
        } 
        else if (group.MailEnabled == null || group.MailEnabled == false)
        {
            return "Security Group";
        }
        else if (group.SecurityEnabled == null || group.SecurityEnabled == false)
        {
            return "Distribution Group";
        }
        else
        {
            return "Invalid group type";
        }
    }

    private List<Group> HandleGroupsAsDirectoryObjects(IEnumerable<DirectoryObject> groupsResponse)
    {
        var groupProps = new List<Group>();
        var allGroups = (List<DirectoryObject>)groupsResponse;
        foreach(var item in allGroups)
        {
            if (item.ODataType == "#microsoft.graph.group")
            {
                var group = (Group)item;
                groupProps.Add(group);
            }
            else // TODO: change else condition
            // this is a temporary fix to resolve a bug with admins: where the directory role causes an index out of bounds error
            // the error stems from the logic behind the while loop condition in GetGroupAsync: 
            //      - this condition depends on numGroups to be accurate
            //      - however, admins have an extra directoryRole object that is returned from GraphServiceClient.OwnedObjects -> which results in an off-by-one error for the value of numGroups (again, this is for admins only)
            //      - as a result, the "group I am an owner of" page will have this index out of bounds exception for admins only
            //      - this temporary fix (else) ensures that even if the group contains a directoryRole object, the final count for numGroups is still correct 
            {
                groupProps.Add(new Group());
            }
        }
        return groupProps;
    }

    private async Task<List<Group>> GetGroupsAsync(int startIndex, int numToRetrieve)
    {
        var cachedMembers = groupProperties.Count;

        if (cachedMembers == 0)
        {
            var queryOptions = new List<QueryOption>()
            {
	            new QueryOption("$count", "true")
            };

            if (nameFilter != string.Empty)
            {
                string searchQuery = $"\"displayName:{nameFilter}\"";
                queryOptions.Add(new QueryOption("$search", searchQuery));
            }

            groupsResult = await GraphServiceClient.Me.OwnedObjects
                .Request(queryOptions)
                .Header("ConsistencyLevel","eventual")
                .Select("displayName,id,groupTypes")
                .OrderBy("displayName")
                .GetAsync();

            groupProperties = HandleGroupsAsDirectoryObjects(groupsResult.CurrentPage);

            if (groupsResult.AdditionalData["@odata.count"] != null)
            {
                var elem = (JsonElement)groupsResult.AdditionalData["@odata.count"];
                int totalNumGroups;
                elem.TryGetInt32(out totalNumGroups);
                numGroups = totalNumGroups;
                StateHasChanged();
            }
        }

        while ((startIndex + numToRetrieve >= cachedMembers) && (groupsResult.NextPageRequest != null) && (cachedMembers <= numGroups))
        {
            groupsResult = await groupsResult.NextPageRequest.GetAsync();
            var newGroups = HandleGroupsAsDirectoryObjects(groupsResult.CurrentPage);
            groupProperties.AddRange(newGroups);
            cachedMembers = groupProperties.Count;
        }

        return groupProperties.GetRange(startIndex, Math.Min(numToRetrieve, (numGroups - startIndex)));
    }

    private async ValueTask<ItemsProviderResult<Group>> LoadGroups(ItemsProviderRequest request)
    {
        var loadedGroups = await GetGroupsAsync(request.StartIndex, request.Count);
        return new ItemsProviderResult<Group>(loadedGroups, numGroups);

    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
        // remove previous one
        aTimer.Stop();

        // new timer
        aTimer.Start();        
    }  

    private void OnUserFinish(Object source, ElapsedEventArgs e)
    {
        InvokeAsync( async () =>
        {
            groupProperties = new List<Group>();
            await virtualizedTable.RefreshDataAsync();
            StateHasChanged();
        });

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();

            aTimer = new System.Timers.Timer(1000);
            aTimer.Elapsed += OnUserFinish;
            aTimer.AutoReset = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}