@* 
Copyright (c) Microsoft Corporation.
Licensed under the MIT license. 
*@

@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<h1>User Profile</h1>
<br />

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <FluentDataGridRow TItem="string" RowType="DataGridRowType.StickyHeader" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1" CellType="DataGridCellType.ColumnHeader">Property</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2" CellType="DataGridCellType.ColumnHeader">Value</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Display Name</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.DisplayName</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">User Principal Name</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.UserPrincipalName</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">User ID</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.Id</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Job Title</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.JobTitle</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Department</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.Department</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Office Location</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.OfficeLocation</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Age Group</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.AgeGroup</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Birthday</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.Birthday</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">User Creation Date/Time</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.CreatedDateTime</FluentDataGridCell>
        </FluentDataGridRow>
        <FluentDataGridRow TItem="string" style="grid-template-columns: 50% 50%;">
            <FluentDataGridCell GridColumn="1">Country</FluentDataGridCell>
            <FluentDataGridCell GridColumn="2">@user.Country</FluentDataGridCell>
        </FluentDataGridRow>
    </table>
}

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var test = GraphServiceClient.Me.Request();
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
